.imgStyle {
    @apply bg-gradient-to-r from-blue-500 to-indigo-500 rounded-l-md relative overflow-hidden
}

.image {
    background: url('/assets/img2.png') no-repeat;
    background-size: contain;
    background-position: center center;
    @apply absolute top-0 bottom-0 left-0 right-0 h-full w-full
}